**/*.iml
.idea/
.cpcache
.m2/
.gitlibs/
.env
function.zip
.nrepl-port
babashka-runtime.zip
examples/out
examples/function.zip
host*/
all-image-files*/
/temp_template.yaml
/layer_arn.out
/publish.out
/layer_version.out
/response.json
